#body_button {
  margin: 0;
  padding: 0;
  color: #FFE4E1;
  font-family: FRANKLIN GOTHIC MEDIUM;
  font-size: 1.5em;
  text-shadow: #8B0000 1px 1px 0, #8B0000 2px 2px 0, #8B0000 3px 3px 0;
  text-align: center;
}

.button_hola, .button_hola::before, .button_hola::after, .button_hola span, .button_hola span::before, .button_hola span::after {
  transition: all ease .5s;
}

.button_hola {
  background-color: rgba(250, 128, 114, 0.3);
  position: relative;
  display: inline-block;
  padding: 0.4em;
  margin: 1em;
  border: solid 2px;
  text-transform: uppercase;
  cursor: pointer;
}

.button_hola:hover {
  box-shadow: 0 0 5em .5em rgba(50, 50, 150, 0.5);
}

.button_hola span {
  display: inline-block;
  width: 100%;
  padding: 0.6em 2em;
}

.button_hola:hover span {
  background-color: #FFE4E1;
  color: #A52A2A;
}

.button_hola::before, .button_hola::after, .button_hola span::before, .button_hola span::after {
  content: '';
  position: absolute;
  border: 1px;
}

.button_hola::before, .button_hola span::before {
  border-style: solid none;
}

.button_hola::before, .button_hola span::after {
  left: 0;
  top: -0.4em;
  width: 100%;
  height: calc(100% + 0.8em);
}

.button_hola::after, .button_hola span::after {
  border-style: none solid;
}

.button_hola::after, .button_hola span::before {
  top: 0;
  left: -0.4em;
  height: 100%;
  width: calc(100% + 0.8em);
}

.button_hola:hover::after, .button_hola:hover span::after {
  transform: scaleY(0);
}

.button_hola:hover::before, .button_hola:hover span::before {
  transform: scaleX(0);
}

.button_hola:hover span::after, .button_hola:hover span::before {
  opacity: 0;
}
