<h2 class="lineOne">POPULAR</h2>

<div class="container" >
  <div class="row ">

    <div class="col-md-3 col-sm-6">
      <div class="box">
        <img src="../../assets/img/women/1.jpg" alt="1">
        <div class="box-content">
          <h3 class="title">NAME</h3>
          <span class="post">This is a text. Click once and select “Edit Text” or just double-click to add your
                text and customize the font. You can move it to any place on the page. Tell site visitors about
                yourself. Here the text about your company and services will look good.</span>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="box">
        <img src="../../assets/img/women/1.jpg" alt="1">
        <div class="box-content">
          <h3 class="title">NAME</h3>
          <span class="post">This is a text. Click once and select “Edit Text” or just double-click to add your
                text and customize the font. You can move it to any place on the page. Tell site visitors about
                yourself. Here the text about your company and services will look good.</span>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="box">
        <img src="../../assets/img/women/1.jpg" alt="3">
        <div class="box-content">
          <h3 class="title">NAME</h3>
          <span class="post">This is a text. Click once and select “Edit Text” or just double-click to add your
                text and customize the font. You can move it to any place on the page. Tell site visitors about
                yourself. Here the text about your company and services will look good.</span>
        </div>

      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="box">
        <img src="../../assets/img/women/1.jpg" alt="1">
        <div class="box-content">
          <h3 class="title">NAME</h3>
          <span class="post">This is a text. Click once and select “Edit Text” or just double-click to add your
                text and customize the font. You can move it to any place on the page. Tell site visitors about
                yourself. Here the text about your company and services will look good.</span>
        </div>
      </div>
    </div>


  </div>

  <div class="row ">

    <div class="col-md-3 col-sm-6">
      <div class="box">
        <img src="../../assets/img/women/1.jpg" alt="1">
        <div class="box-content">
          <h3 class="title">NAME</h3>
          <span class="post">This is a text. Click once and select “Edit Text” or just double-click to add your
                text and customize the font. You can move it to any place on the page. Tell site visitors about
                yourself. Here the text about your company and services will look good.</span>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="box">
        <img src="../../assets/img/women/1.jpg" alt="2">
        <div class="box-content">
          <h3 class="title">NAME</h3>
          <span class="post">This is a text. Click once and select “Edit Text” or just double-click to add your
                text and customize the font. You can move it to any place on the page. Tell site visitors about
                yourself. Here the text about your company and services will look good.</span>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="box">
        <img src="../../assets/img/women/1.jpg" alt="3">
        <div class="box-content">
          <h3 class="title">NAME</h3>
          <span class="post">This is a text. Click once and select “Edit Text” or just double-click to add your
                text and customize the font. You can move it to any place on the page. Tell site visitors about
                yourself. Here the text about your company and services will look good.</span>
        </div>

      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="box">
        <img src="../../assets/img/women/1.jpg" alt="1">
        <div class="box-content">
          <h3 class="title">NAME</h3>
          <span class="post">This is a text. Click once and select “Edit Text” or just double-click to add your
                text and customize the font. You can move it to any place on the page. Tell site visitors about
                yourself. Here the text about your company and services will look good.</span>
        </div>
      </div>
    </div>



  </div></div>
