.mainPicture {
  width: 100%;
  height: 40em;

  background:url(../../assets/img/photo-1552602126-0cbc24c1301c.jpg) repeat-x ;
  padding-top: 1%;
}
.main {
  color: #FFD5C6;
  font-size: 1.2em;
  margin: 0 auto;
  background-color:rgba(194,39,54,0.5);
  width: 70%;
  margin-top: 8%;

}
h2 {
  font-size: 340%;
  font-family: COURIER ;
  color: #FFD5C6;
  text-shadow: #B22222 1px 1px 0;
  text-align: center;
  padding-top: 2%;
}
