<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous">
<div class="mainPicture">
  <div class="main">
    <h2>ACCOUNT</h2>
    <div><span>Login: </span>{{person.login}}</div>
    <div><span>Email: </span>{{person.email}}</div>
    <div><span>FirstName: </span>{{person.firstName}}</div>
    <div><span>LastName: </span>{{person.lastName}}</div>
    <div><span>Subscriptions: </span>{{person.subscriptions}}</div>
    <div><a href="../account/billing-account"> Billing account info</a></div>
  </div></div>
<app-subscriptions></app-subscriptions>
